{% extends 'base.html' %}
{% block content %}

<h4>Entry Details</h4>

<div class="row">
  <div class="col s6">
    <div class="card z-depth-4">
      <span class="card-title">{{ entry.get_day_of_week }}</span>
      <div class="card-content">
        <p>Date {{ entry.date }}</p>
      </div>
    </div>
  </div>
</div>
  
  <div class="row">
    <div class="col s6">
      <div class="card z-depth-4">
      {% if entry.mealplan.count %}
        {% for mealplan in entry.mealplan.all %}
          <span class="card-title">Meal Plan: {{ mealplan.name }}</span>
          <div class="card-content">
            <table>
              <tbody>
                <tr>
                  <td>Breakfast:</td>
                  <td>{{ mealplan.breakfast }}</td>
                </tr>
                <tr>
                  <td>Lunch:</td>
                  <td>{{ mealplan.lunch }}</td>
                </tr>
                <tr>
                  <td>Dinner:</td>
                  <td>{{ mealplan.dinner }}</td>
                </tr>
                <tr>
                  <form action="{% url 'unassoc_mealplan' entry.id mealplan.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-small" value="Remove Meal Plan">
                  </form>
                </tr>
              </tbody>
            </table>
          </div>
          {% endfor %}
      {% else %}
        <div class="card-content">
          <form action="{% url 'assoc_mealplan' entry.id %}" method="post">
              {% csrf_token %}
            <select name="mealplan">
              {% for mealplan in mealplans %}
                <option value="{{ mealplan.id }}">{{ mealplan.name}}</option>
              {% endfor %}
            <input type="submit" class="btn btn-small" value="Assign Meal Plan"> 
          </form>
          <form action="{% url 'mealplan_create' %}" method="post">
              {% csrf_token %}
            <input type="submit" class="btn btn-small" value="Create New Meal Plan">
          </form> 
        </div>
      {% endif %}
      </div> 
    </div>

      <div class="col s6">
      {% if entry.assignedworkouts.count %}
        {% for workout in entry.assignedworkouts.all %}
          <div class="card z-depth-4">
            <span class="card-title">{{ workout.workout }}</span>
            <div class="card-content">
              <p>Description:<br/>
              {{ workout.description }}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>


<div class="row">
  <div class="col s6">
    <h4>To-Dos</h4>
      <div class="card z-depth-4">
        <div class="card-content">
          <h5>Workouts:</h5>
          <form action="{% url 'assoc_assignedworkouts' entry.id %}" method="post">
              {% csrf_token %}
            <select name="workout">
              {% for workout in workouts %}
                <option value="{{ workout.id }}">{{ workout.workout}}</option>
              {% endfor %}
            <input type="submit" class="btn btn-small" value="Assign Workout"> 
          </form>
          <br>
          <form action="{% url 'workout_create' %}" method="post">
              {% csrf_token %}
            <input type="submit" class="btn btn-small" value="Create New Workout">
          </form> 
          <h5>Tasks:</h5>
          <form action="{% url 'assoc_assignedtasks' entry.id %}" method="post">
              {% csrf_token %}
            <select name="task">
              {% for task in tasks %}
                <option value="{{ task.id }}">{{ task.title}}</option>
              {% endfor %}
            <input type="submit" class="btn btn-small" value="Assign Task"> 
          </form>
          <br>
          <form action="{% url 'task_create' %}" method="post">
              {% csrf_token %}
            <input type="submit" class="btn btn-small" value="Create New Task">
          </form> 
        </div>
      </div>
    </div> 

      <div class="col s6">
      {% if entry.assignedtasks.count %}
        {% for task in entry.assignedtasks.all %}
          <div class="card z-depth-4">
            <span class="card-title">{{ task.title }}</span>
            <div class="card-content">
              {{ task.get_importance_display }}
              <p>Description:<br/>
              {{ task.description }}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>


{% comment %} 
        <span class="card-title">{{ workout }}</span>
        <p>Date {{ date.today }}</p>
        <p>Workout {{ workoutType }}</p>   
      </div>
    </div>
  </div>
</div>

{% comment %} two columns task,  {% endcomment %}
 {% comment %} button inprogress {% endcomment %}

{% comment %}  
  <div class="col s12">
    <span class="card-title">{{ assignedtasks }}</span>
        {% for tasks in tasks_list %}
          <a href="{% url 'tasks_detail' tasks.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ tasks.title }}</span>
                    <p>Description: {{ task.description }}</p>
                    <p>Importance: {{ task.get_importance_display }}</p>
                </div>
            </div>
          </a>
        {% endfor %}  
        {% for workout in workout_list %}
          <a href="{% url 'workout_detail' workout.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ workout.title }}</span>
                    <p>Description: {{ workout.description }}</p>
                    <p>Importance: {{ workout.get_importance_display }}</p>
                </div>
            </div>
          </a>
        {% endfor %}
  </div>
</div>
  <div class="col s12">
     <span class="card-title">{{ completedtasks }}</span>
        {% for tasks in tasks_list %}
          <a href="{% url 'tasks_detail' tasks.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ tasks.title }}</span>
                    <p>Description: {{ task.description }}</p>
                    <p>Importance: {{ task.get_importance_display }}</p>
                </div>
            </div>
          </a>
        {% endfor %}
        {% for workout in workout_list %}
          <a href="{% url 'workout_detail' workout.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ workout.title }}</span>
                    <p>Description: {{ workout.description }}</p>
                    <p>Importance: {{ workout.get_importance_display }}</p>
                </div>
            </div>
          </a>
        {% endfor %}
  </div>
  {% endcomment %}

{% endblock %}