{% extends 'base.html' %}
{% block content %}

<h1>Entry Details</h1>

<form action="{% url 'workout_create' %}" method="post">
    {% csrf_token %}
    {{ workout_form.as_p }}
    <input type="submit" class="btn" value="Add Work out">
</form> 

<div class="row">
  <div class="col s12">
    <div class="col s6">
      <div class="card">
        <span class="card-title">{{ entry.get_day_of_week }}</span>
        <div class="card-content">
          <p>Date {{ entry.date }}</p>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card">
      {% if entry.mealplan.count %}
        <span class="card-title">Meal Plan: {{ entry.mealplan.name }}</span>
        <div class="card-content">
          {% for mealplan in entry.mealplan.all %}
            <table>
              <tbody>
                <tr>
                  <td>Breakfast:</td>
                  <td>{{ mealplan.breakfast }}</td>
                </tr>
                <tr>
                  <td>Lunch:</td>
                  <td>{{ mealplan.lunch }}</td>
                </tr>
                <tr>
                  <td>Dinner:</td>
                  <td>{{ mealplan.dinner }}</td>
                </tr>
              </tbody>
            </table>
          {% endfor %}
      {% else %}
        <form action="{% url 'assoc_mealplan' entry.id mealplan.id%}" method="post">
            {% csrf_token %}
          <select name="mealplan">
            {% for mealplan in mealplan_list %}
              <option value="{{ mealplan.id }}">{{ mealplan.name}}</option>
            {% endfor %}
          <input type="submit" class="btn" value="Assign Meal Plan"> 
        </form>
        <form action="{% url 'mealplan_create' %}" method="post">
            {% csrf_token %}
          <input type="submit" class="btn" value="Create New Meal Plan">
        </form> 
      {% endif %}
    </div>
  </div>
</div>
{% comment %} 
<div class="row">
  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ workout }}</span>
        <p>Date {{ date.today }}</p>
        <p>Workout {{ workoutType }}</p>   
      </div>
    </div>
  </div>
</div>

{% comment %} two columns task,  {% endcomment %}
 {% comment %} button inprogress {% endcomment %}

{% comment %}  
  <div class="col s12">
    <span class="card-title">{{ assignedtasks }}</span>
        {% for tasks in tasks_list %}
          <a href="{% url 'tasks_detail' tasks.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ tasks.title }}</span>
                    <p>Description: {{ task.description }}</p>
                    <p>Importance: {{ task.get_importance_display }}</p>
                </div>
            </div>
          </a>
        {% endfor %}  
        {% for workout in workout_list %}
          <a href="{% url 'workout_detail' workout.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ workout.title }}</span>
                    <p>Description: {{ workout.description }}</p>
                    <p>Importance: {{ workout.get_importance_display }}</p>
                </div>
            </div>
          </a>
        {% endfor %}
  </div>
</div>
  <div class="col s12">
     <span class="card-title">{{ completedtasks }}</span>
        {% for tasks in tasks_list %}
          <a href="{% url 'tasks_detail' tasks.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ tasks.title }}</span>
                    <p>Description: {{ task.description }}</p>
                    <p>Importance: {{ task.get_importance_display }}</p>
                </div>
            </div>
          </a>
        {% endfor %}
        {% for workout in workout_list %}
          <a href="{% url 'workout_detail' workout.id %}">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ workout.title }}</span>
                    <p>Description: {{ workout.description }}</p>
                    <p>Importance: {{ workout.get_importance_display }}</p>
                </div>
            </div>
          </a>
        {% endfor %}
  </div>
  {% endcomment %}

{% endblock %}