{% extends 'base.html' %}
{% block content %}

<h1>Weekly Planner</h1> 
<div class="row">
  {% for post in journal.post_set.all %}
    {% if post.get_week_number == post.current_week %}
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ post.get_day_of_week }}</span>
              <p>Date: {{ post.date }}</p>
              <p>Tasks:</p>
          </div>
        </div>
        {% for task in post.assignedtasks.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ task.title }}</span>
                <p>Description: {{ task.description }}</p>
                <p>Importance: {{ task.get_importance_display }} </p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
<hr>


  {% endblock %}