{% extends 'base.html' %}
{% block content %}

<h1>Post List</h1>

  <div>
    {% for attachment in attachment_set.all %}
      <img class="responsive-img card-panel" src="{{attachment.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No attachments Uploaded</div>
    {% endfor %}
       <form action="{% url 'add_attachment' planner.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="attachment">
      <br><br>
      <input type="submit" class="btn" value="Upload attachment">
    </form>
  </div>

{% for post in post_list %}
  <a href="{% url 'post_detail' post.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ post.name }}</span>
            <p>Date: {{ date.description }}</p>
            <p>Description: {{ post.description }}</p>
            <p>Task: {{ task.description }}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}