{% extends 'base.html' %}
{% block content %}

<h1>Post Details</h1>

{{ post.get_day_of_week }}

    <div>
      {% for attachment in attachment_set.all %}
        <img class="responsive-img card-panel" src="{{attachment.url}}">
      {% empty %}
        <div class="card-panel teal-text center-align">No attachmentss Uploaded</div>
      {% endfor %}
         <form action="{% url 'add_attachment' post.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="attachment">
        <br><br>
        <input type="submit" class="btn" value="Upload attachment">
      </form>
    </div>



{% endblock %}