{% extends 'base.html' %}
{% block content %}

<h1>Task Details</h1>

<div class="row1">
  <div class="col">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ task.name }}</span>
        <p>Title: {{ task.title }}</p>
        <p>Description: {{ task.description }}</p>
        <p>Importance: {{ task.get_importance_display }}</p>
        <p>Progress: {{ task.get_progress_display }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'task_update' task.id %}">Edit</a>
        <a href="{% url 'task_delete' task.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}