{% extends 'base.html' %}

{% block content %}
{% comment %} user account page {% endcomment %}
<h1>My Account<h1>

<div class="row1">
  <div class="col">
    <div class="card">
      <div class="card-content">
        <span class="card-title"></span>
        <p>username: {{ user.username }}</p>
        <p>First name: {{ user.firstname }}</p>
        <p>Last name: {{ user.firstname }}</p>
        <p>first name: {{ user.firstname }}</p>
        <p>Email: {{ user.email }}</p>
        <p>password: {{ user.password }}</p>
      </div>
    </div>
  </div>
</div>



<div class="card red accent-4">
    <div class="card-content">
        <h4>Danger don't delete planner</h4>    
            <form action="" method="POST">
              {% csrf_token %}
              <input type="submit" value="Yes - Delete!" class="btn">
              <a href="{% url 'planner_detail' planner.id %}">Cancel</a>
            </form>
    </div>
</div>
  {% endblock %}


{% endblock %}