{% extends 'base.html' %}
{% block content %}

<h3>About the Planners</h3>
<hr />
<h5>After spending hours looking through different planner apps we were unable to find an app that worked for us. We came up with the idea of the Level Up Your Life app; it's a top of the line, responsive, modern-day planner app.</h5>
<h5>The planner will give you the ability to create entries such as tasks, meal plans, and workouts. You can assign the entries to a specific day, daily or weekly. Once entries are entered into the planner you will be able to view all entries by day or week, assign importance and update progress.</h5>

<div class="row">
  
  <div class="col s4">
    <div class="card small white sticky-action hoverable">
      <div class="card-content">
        <span class="card-title center flow-text">Andrew Theismann</span>
        <p class="center"><img class="activator responsive-img" src ="https://i.imgur.com/kxnRotJ.jpg"></p>
      </div>
      <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 center">Andrew Theismann<i class="material-icons right">close</i></span>
          <br>
          <ul class="browser-default">
            <li>Scrum Master</li>
            <li>Database Manager</li>
            <li>Oauth manager</li>
          </ul>
      </div>
      <div class="card-action center">
        <a href="https://www.linkedin.com/in/andrewtheismann/">LinkedIn</a>
        <a href="https://github.com/atheismann">GitHub</a>
      </div>
    </div>
  </div>

  <div class="col s4">
      <div class="card small white sticky-action hoverable">
        <div class="card-content">
          <span class="card-title center flow-text">Joseph Hunt</span>
          <p class="center"><img class="activator responsive-img" src ="https://i.imgur.com/yhGnDB2.jpg"></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4 center">Joseph Hunt<i class="material-icons right">close</i></span>
            <br>
            <ul class="browser-default">
              <li>Back-end Developer</li>
              <li>functionality Manager</li>
              <li>Full Stack Developer</li>
            </ul>
        </div>
        <div class="card-action center">
          <a href="https://www.linkedin.com/in/joseph-hunt-92572118b/">LinkedIn</a>
          <a href="https://github.com/Jhunted">GitHub</a>
        </div>
      </div>
    </div>


    <div class="col s4">
        <div class="card small white sticky-action hoverable">
          <div class="card-content">
            <span class="card-title center flow-text">Daniel Cermak</span>
            <p class="center"><img class="activator responsive-img" src ="https://i.imgur.com/mwkkfa6.jpg"></p>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4 center">Daniel Cermak<i class="material-icons right">close</i></span>
              <ul class="browser-default">
                <li>Front-end Developer</li>
                <li>Test Developer</li>
                <li>Full Stack Developer</li>
              </ul>
          </div>
          <div class="card-action center">
            <a href="https://www.linkedin.com/in/cermak-daniel/">LinkedIn</a>
            <a href="https://github.com/dc3430">GitHub</a>
          </div>
        </div>
      </div>

</div>

{% endblock %}