{% extends 'base.html' %}
{% block content %}

<h3>About the Planners</h3>
<hr />
<h6>After spending hours looking through different planner apps we were unable to find an app that worked for us. We came up with the idea of the Level Up Your Life app, it's a top of the line, responsive, modern-day planner app.</h5>
<h6>The planner will give you the ability to create entries such as tasks, meal plans, and workouts. You can assign the entries to a specific day, daily or weekly. Once entries are entered into the planner you will be able to view all entries by day or week, assign importance and update progress.</h5>
<br>
<br>
<div class="row">

    <div class="flip-container col l4"  ontouchstart="this.classList.toggle('hover');">
	    <div class="flipper">
		    <div class="front">
                <span class="card-title center flow-text">Andrew</span>
                <p class="center"><img id="image" class="responsive-img" src ="https://i.imgur.com/51ZADRB.jpg"></p>
            </div>
    <!-- back content -->
	        <div class="back">  
            <h5>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4 center">Andrew Theismann</span>
                 <div class="">
                    <a href="https://www.linkedin.com/in/andrewtheismann/">LinkedIn</a>
                    <a href="https://github.com/atheismann">GitHub</a>
                </div>
          <ul class="browser-default">
            <li>Scrum Master</li>
            <li>Database Manager</li>
            <li>Oauth manager</li>
          </ul>
          <h5>
                </div>
            </div>
		</div>
	</div>
    
    <div class="flip-container col l4" ontouchstart="this.classList.toggle('hover');">
	    <div class="flipper">
		    <div class="front">
                <span class="card-title center flow-text">Joseph</span>
                <p class="center"><img id="image" class="responsive-img" src ="https://i.imgur.com/ZYdGOcW.jpg"></p>
            </div>
    <!-- back content -->
	        <div class="back">  
            <h5>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4 center">Joseph Hunt</span>
                 <div class="">
                    <a href="https://www.linkedin.com/in/andrewtheismann/">LinkedIn</a>
                    <a href="https://github.com/Jhunted">GitHub</a>
                </div>
          <ul class="browser-default">
            <li>Backend Developer</li>
            <li>Pitch Deck</li>
            <li>Functionality</li>
          </ul>
          <h5>
                </div>
            </div>
		</div>
	</div>

    
    <div class="flip-container col l4" ontouchstart="this.classList.toggle('hover');">
	    <div class="flipper">
		    <div class="front">
                <span class="card-title center flow-text">Daniel</span>
                <p class="center"><img id="image" class="responsive-img" src ="https://i.imgur.com/mwkkfa6.jpg"></p>
            </div>
    <!-- back content -->
	        <div class="back">  
            <h5>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4 center">Daniel Cermak</span>
                 <div class="">
                    <a href="https://www.linkedin.com/in/cermak-daniel/">LinkedIn</a>
                    <a href="https://github.com/dc3430">GitHub</a>
                </div>
          <ul class="browser-default">
            <li>CSS Developer</li>
            <li>Wireframe</li>
            <li>Tester</li>
          </ul>
          <h5>
                </div>
            </div>
		</div>
	</div>
</div>
</div>
</div>




{% endblock %}