{% extends 'base.html' %}
{% block content %}

<h1>About the Planners</h1>
<hr />
<p>After spending hours looking through different planner apps we were unable to find an app that worked for us. We came up with the idea of the Level Up Your Life app; it's a top of the line, responsive, modern-day planner app.</p>
<p>The planner will give you the ability to create entries such as tasks, meal plans, and workouts. You can assign the entries to a specific day, daily or weekly. Once entries are entered into the planner you will be able to view all entries by day or week, assign importance and update progress.</p>

{% endblock %}