{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Level Up Your Life</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
  <body class="mbody">
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper light-blue">
          <div class="container">
            <ul>
              <li><a href="/" class="left brand-logo">&nbsp;&nbsp;LEVEL UP YOUR LIFE</a></li>
              <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons right-">menu</i>
              </a>
            </ul>
            <!-- hide the links -->
            <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'about' %}">About</a></li>
              {% if user.is_authenticated %}   
                <li><a href="{% url 'task_index' %}">Tasks</a></li>
                <li><a href="{% url 'index' %}">Journals</a></li> 
                <li><a href="{% url 'logout' %}">Log Out</a></li>
              {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-links">
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}   
          <li><a href="{% url 'task_index' %}">Tasks</a></li>
          <li><a href="{% url 'index' %}">Journals</a></li> 
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </header>



  </body>





  <main class="container">
    {% block content %}
    {% endblock %}
    <br>
    <div class="grid-container">
        <div class="col s10 l6">Monday</div>
        <ul>
          <il>name</il>
          <il>desc</il>
          <il>time</il>
        </ul>
        <div class="col s10 l6">Tuesday</div>
        <div class="col s10 l6">Wednesday</div>  
        <div class="col s10 l6">Thursday</div>
        <div class="col s10 l6">Friday</div>
        <div class="col s10 l6">Saturday</div>
        <div class="col s10 l6">Sunday</div>
    </div>
    <br>
  </main>
  <footer class="page-footer light-blue">
    <div class="right">All Rights Reserved, &copy; 2019 Team Alpha &nbsp;</div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  <script>
    $(document).ready(function() {
        $('.sidenav').sidenav();

    });
  </script>
</body>
</html>